Repository be15-six-my-cat/be15-4th-sixmycat-catchy-FE, pull requests merged in 2025-05, with the labels that each got.

#3 feat: Cat 158 fe 쭈르 등록
  .gitignore
  index.html
  package-lock.json
  package.json
  src/App.vue
  src/api/jjure.js
  src/components/AppShell.vue
  src/components/HelloWorld.vue
  src/components/TheWelcome.vue
  src/components/WelcomeItem.vue
  src/components/layout/SidebarMainLayout.vue
  src/components/layout/SidebarNav.vue
  src/components/modal/UploadGuideModal.vue
  src/features/feed/components/FeedUploadModal.vue
  src/features/jjure/api.js
  src/features/jjure/components/JjureUploadModal.vue
  src/features/jjure/components/vues.vue
  src/features/jjure/router.js
  src/features/jjure/views/JjureCreatePage.vue
  src/features/jjure/views/vues.vue
  src/features/zhoor/router.js
  src/main.js
  src/router/index.js
  src/stores/uploadStore.js
  src/views/AboutView.vue
  src/views/HomeView.vue
Labels: enhancement

#4 [FE] CAT-183 피드 등록 모달 구현
  package-lock.json
  package.json
  src/api/feed.js
  src/components/AppShell.vue
  src/components/modal/UploadGuideModal.vue
  src/features/feed/components/FeedUploadModal.vue
Labels: feat

#6 feat: Cat 179 fe 쭈르 목록 페이지 구현
  .env
  src/api/game.js
  src/api/jjure.js
  src/components/AppShell.vue
  src/components/layout/SidebarMainLayout.vue
  src/composable/usePagination.js
  src/features/game/components/Card.vue
  src/features/game/components/ImageSelectModal.vue
  src/features/game/components/vues.vue
  src/features/game/router.js
  src/features/game/views/GamePlay.vue
  src/features/game/views/GameRanking.vue
  src/features/game/views/GameStart.vue
  src/features/jjure/api.js
  src/features/jjure/components/JjureCard.vue
  src/features/jjure/components/vues.vue
  src/features/jjure/router.js
  src/features/jjure/views/JjureDetailPage.vue
  src/features/jjure/views/JjureListPage.vue
  src/router/index.js
  src/stores/useGameStore.js
  src/utills/toast.js
Labels: enhancement

#7 [FE] CAT-181 피드 목록 조회 페이지 구현
  package-lock.json
  package.json
  src/api/feed.js
  src/components/AppShell.vue
  src/composable/usePagination.js
  src/features/feed/components/FeedActions.vue
  src/features/feed/components/FeedCard.vue
  src/features/feed/components/FeedCarousel.vue
  src/features/feed/components/FeedCommentPreview.vue
  src/features/feed/components/FeedHeader.vue
  src/features/feed/components/FeedUploadModal.vue
  src/features/feed/router.js
  src/features/feed/views/FeedDetailPage.vue
  src/features/feed/views/FeedListPage.vue
  src/router/index.js
Labels: feat

#8 [FE] CAT-198 피드 등록 모달 피드 리스트 스타일 수정
  src/components/AppShell.vue
  src/components/modal/UploadGuideModal.vue
  src/features/feed/components/FeedActions.vue
  src/features/feed/components/FeedCard.vue
  src/features/feed/components/FeedCarousel.vue
  src/features/feed/components/FeedCommentPreview.vue
  src/features/feed/views/FeedListPage.vue
Labels: feat

#9 [FE] CAT-182 피드 상세 조회 모달 구현
  src/api/feed.js
  src/features/feed/views/FeedDetailPage.vue
  src/features/feed/views/FeedListPage.vue
Labels: feat

#11 [FE] CAT-207 피드 좋아요 api 연동
  src/api/like.js
  src/composable/usePagination.js
  src/features/feed/components/FeedActions.vue
  src/features/feed/components/FeedCard.vue
  src/features/feed/views/FeedDetailPage.vue
Labels: feat

#12 [FE] Cat 209 fe 피드 기능 버그 수정
  src/components/AppShell.vue
  src/features/feed/views/FeedListPage.vue
  src/stores/feedRefreshStore.js
Labels: bug

#13 feat:Cat 213 fe 썸네일 등록
  src/api/axios.js
  src/api/jjure.js
  src/components/AppShell.vue
  src/composable/usePagination.js
  src/features/game/views/GamePlay.vue
  src/features/game/views/GameRanking.vue
  src/features/jjure/components/JjureCard.vue
  src/features/jjure/components/JjureUploadModal.vue
  src/features/jjure/views/JjureDetailPage.vue
  src/features/jjure/views/JjureListPage.vue
  src/features/user/components/vues.vue
  src/stores/auth.js
  src/stores/useGameStore.js
Labels: feat

#19 [BE] feat: CAT-220 버그수정
  src/components/AppShell.vue
Labels: bug

#22 feat: 회원가입 로그인 로그아웃
  public/favicon.ico
  src/api/axios.js
  src/api/member.js
  src/assets/images/member/camera-pink.png
  src/assets/images/member/google-pink.png
  src/assets/images/member/kakao-talk-pink.png
  src/assets/images/member/n-pink.png
  src/assets/logo.png
  src/components/defaultProfile/DefaultProfile.vue
  src/components/layout/SidebarNav.vue
  src/features/member/components/BasicButton.vue
  src/features/member/components/Input.vue
  src/features/member/components/WhiteButton.vue
  src/features/member/router.js
  src/features/member/views/SignupExtraView.vue
  src/features/member/views/SignupView.vue
  src/features/user/api.js
  src/features/user/components/vues.vue
  src/features/user/router.js
  src/features/user/views/vues.vue
  src/main.js
  src/router/index.js
  src/stores/auth.js
  src/stores/defaultProfileStore.js
Labels: feat

#21 [FE] CAT-221 fe 피드 삭제 api 연동
  src/api/feed.js
  src/features/feed/components/FeedCard.vue
  src/features/feed/views/FeedDetailPage.vue
Labels: feat

#24 Cat 224 fe 피드 수정 모달 구현
  src/api/feed.js
  src/components/AppShell.vue
  src/components/modal/UploadGuideModal.vue
  src/features/feed/components/FeedCard.vue
  src/features/feed/components/FeedCarousel.vue
  src/features/feed/components/FeedUploadModal.vue
  src/features/feed/views/FeedDetailPage.vue
Labels: feat

#26 feat: 회원 정보 조회
  src/composable/composable.js
  src/composable/useLogout.js
  src/features/member/components/MemberInfoContent.vue
  src/features/member/components/MemberInfoItem.vue
  src/features/member/router.js
  src/features/member/views/MemberInfoView.vue
  src/features/profile/components/ProfileMenu.vue
  src/router/index.js
  src/stores/auth.js
Labels: feat

#27 feat: 회원가입 로그인 로그아웃 로딩처리 toast 알림
  src/components/layout/SidebarNav.vue
  src/features/member/views/SignupExtraView.vue
  src/router/index.js
  src/stores/auth.js
Labels: feat

#31 [FE] CAT-184 fe 피드, 게임 공유 기능 추가
  index.html
  src/components/ShareDropdown.vue
  src/features/feed/components/FeedActions.vue
  src/features/feed/components/FeedCard.vue
  src/features/feed/views/FeedDetailPage.vue
  src/features/game/views/GameRanking.vue
Labels: feat

#34 feat: 회원 탈퇴
  src/api/member.js
  src/components/modal/BasicModal.vue
  src/features/member/components/DeleteMemModal.vue
  src/features/member/components/MemberInfoContent.vue
  src/features/member/components/RedButton.vue
  src/router/index.js
  src/stores/auth.js
Labels: feat

#38 fix: 피드 리스트 비회원도 조회 가능하게 수정
  src/api/feed.js
  src/composable/usePagination.js
  src/router/index.js
Labels: fix

#39 fix: 리프레시 토큰 인증 복구
  src/features/member/views/SignupExtraView.vue
  src/main.js
Labels: fix

#40 fix: 소셜 로그인 후 추가 정보 입력 페이지에서 사용자 정보 미표시
  src/features/member/views/SignupExtraView.vue
Labels: bug, fix

#42 feat: AWS S3 업로드 기능 구현(프로필 수정 시)
  src/features/profile/views/ProfileEditView.vue
Labels: feat

#43 Cat 230 fe 피드 목록 조회 무한 스크롤 적용
  src/api/feed.js
  src/api/like.js
  src/components/layout/SidebarMainLayout.vue
  src/composable/useInfiniteScroll.js
  src/features/feed/views/FeedListPage.vue
Labels: feat

#50 Cat 261 fe 피드 닉네임에 프로필 연결
  src/features/feed/components/FeedCard.vue
  src/features/feed/components/FeedHeader.vue
Labels: feat

#51 Cat 262 fe 피드 스타일 수정
  src/components/CommentSection.vue
  src/features/feed/views/FeedListPage.vue
Labels: feat

#53 Cat 263 fe 피드 헤더 공유 드롭다운 버그 수정
  src/components/EditDeleteDropdown.vue
  src/components/ShareDropdown.vue
Labels: bug

#54 feat: CAT-263 DeleteModal common 컴포넌트로 관리, 피드에도 적용
  src/components/modal/DeleteModal.vue
  src/features/feed/components/FeedCard.vue
  src/features/jjure/components/JjureCard.vue
Labels: feat

#58 feat: 차단한 회원 프로필 조회
  src/components/defaultProfile/DefaultProfile.vue
  src/features/block/components/BlockList.vue
  src/features/block/router.js
  src/features/member/views/SignupExtraView.vue
  src/features/profile/views/ProfileEditView.vue
  src/main.js
Labels: feat

#57 feat: 회원가입 시 고양이 등록 기능 구현
  src/features/member/views/SignupExtraView.vue
  src/features/profile/components/CatFormModal.vue
  src/features/profile/views/ProfileEditView.vue
Labels: feat
